@model IdentityCreateViewModel
@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

@if (ViewBag.Msg != null)
{
    <h3 style="color: red">@ViewBag.Msg</h3>
}

<form asp-action="SignUp" method="post">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span class="text-danger" asp-validation-for="UserName"></span>
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span class="text-danger" asp-validation-for="Password"></span>
    <label asp-for="ControlPassword"></label>
    <input asp-for="ControlPassword" />
    <span class="text-danger" asp-validation-for="ControlPassword"></span>

    <input type="submit" value="Sign Up" class="btn btn-primary" />
</form>