
@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

@if (ViewBag.Msg != null)
{
    <h3 style="color: red">@ViewBag.Msg</h3>
}

<form asp-action="SignUp" method="post">
    <input type="text" name="userName" value="" />
    <input type="password" name="password" value="" />

    <input type="submit" value="Sign Up" class="btn btn-primary" />
</form>