<h1>Some exampels</h1>

<input id="numA" type="number" value="0" />
<input id="numB" type="number" value="0" />
<button onclick="AjaxCalcPost(event)">calc +</button>

<div id="divToTarget"></div>

<script src="~/js/PlainAjax.js"></script>