@model CreateCarViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" method="post">
    <label asp-for="Brand"></label>
    <input asp-for="Brand" />
    <span class="text-danger" asp-validation-for="Brand"></span>
    <br />
    <label asp-for="ModelName"></label>
    <input asp-for="ModelName" />
    <span class="text-danger" asp-validation-for="ModelName"></span>
    <br />
    <label asp-for="Year"></label>
    <input asp-for="Year" />
    <span asp-validation-for="Year"></span>
    <br />
    <input class="text-danger" type="submit" value="Create" />
</form>