@model CarIndexViewmodel
@{
    ViewData["Title"] = "Index";
}

<h1>Cars Index</h1>

@if (ViewBag.msg != null)
{
    <h3>@ViewBag.msg</h3>
}

<div class="row" id="createCarDiv">
    <button onclick="GetCreateCarForm('@Url.Action("CreateForm","Cars")')" id="btn-car-create" >Add Car to list</button>
</div>

<div class="row">
    <div class="col-12" id="carsListDiv">
        <div class="row">
            <form asp-action="Index" method="post">
                <h4>Search based on years range</h4>

                <label asp-for="AfterYear"></label>
                <input asp-for="AfterYear" />

                <label asp-for="BeforeYear"></label>
                <input asp-for="BeforeYear" />

                <button type="submit">Search</button>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <h3>Brand</h3>
            </div>
            <div class="col">
                <h3>Model</h3>
            </div>
            <div class="col">
                <h3>Year</h3>
            </div>
            <div class="col">
                <h3>Insurances</h3>
            </div>
            <div class="col">
                <h3>Action</h3>
            </div>
        </div>
        @foreach (var item in Model.CarList)
        {
            <partial name="_CarPartialView" model="item" />
        }
    </div>
</div>